.send-button {
	color: white;
	background-color: rgb(6, 83, 6);
	padding: 12px 20px;
	border: none;
	border-radius: 10px;
	font-size: 15px;
	margin-left: 8px;
	cursor: pointer;
}

.chat-input {
	padding: 12px 20px;
	border-radius: 10px;
	border: 1px solid gray;
	font-size: 15px;
	flex-grow: 1;
}

.chat-input-container {
	display: flex;
	margin-bottom: 60px;
}
